html {
    box-sizing:border-box;
    background-color: #3595D2;
}

body {

    margin: 0;

}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}

input {

    display: none;

}

ul li a {

    text-decoration: none;

}

a {
    text-decoration: none;

}

.button {

background-color:#EA1177;
height: 30px;
width: 100px;
margin-left: 65%;
z-index: 1;
position: fixed;
text-align: left;

font-family: "elza", sans-serif;
font-weight: 200;
font-style: normal;
font-size: 30px;
text-align: center;
color:#ffffff


}

.menu {

    height: 100vh;
    top: 0;
    bottom:100%;
    width:300px;
    left: 0;
    padding: 40px 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#9b1ab7;
    transition: .5s ease-out;
    transform: translatex(-100%);
    text-align: right;
    

    text-decoration: none;
    font-family: "elza", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color:#ffffff
}

input:checked~ .menu{

    transform: translatex(0);

}

.header {

    color: #ffffff;
    background-color: #EA1177;
    padding: 80px;
    padding-bottom: 0%;
    margin: 0;


    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    text-align: center;


}

.availablein {

    background-color: #EA1177;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: italic;
    color:#ff7db8;
    font-size: 40px;
    margin-top: 0%;
    margin-left: 0%;

}

.different-sizes {

    height: 100px;
    background-color: #B6D436;
    display: flex;
    width: 100%;
}

.thin {

    font-family: "elza", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    padding-block-start: 40px;
    padding-left: 50px;

}

.extralight {

    font-family: "elza", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    padding-block-start: 40px;
    padding-left: 80px;

}

.light {

    font-family: "elza", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    padding-block-start: 40px;
    padding-left: 80px;

}

.regular {

    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding-block-start: 40px;
    padding-left: 80px;
}

.medium {

    font-family: "elza", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    padding-block-start: 40px;
    padding-left: 80px;
}

.semibold {
    
    font-family: "elza", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    padding-block-start: 40px;
    padding-left: 80px;

}

.bold {

    font-family: "elza", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding-block-start: 40px;
    padding-left: 80px;
}

.black {

    font-family: "elza", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    padding-block-start: 40px;
    padding-left: 80px;

}

.underlinethin {

    background-color: #9b1ab7;
    height: 10px;
    
    }
    

.biohead {

    font-family: "elza", sans-serif;
    font-weight: 200;
    font-style: italic;
    color: white;
    font-size: 70px;
    margin-top: 1em;
    margin-left: 150px;

}


.biopar {

    font-family: "elza", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 30px;
    margin-top: 2em;
    margin-left: 150px;
    width: 35%;
}

.alpha-grid {

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5%;

}

.alpha-grid2 {

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5%;
}

.alphabet {

    background-color: #ff7db8;
    box-shadow: -15px 15px 10px rgb(50, 2, 2);

    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: rgb(61, 3, 3);
    width: 12em;
    /* margin-right: 50%; */
    margin-top: 20%;
    /* padding-top: 1px;
    padding-bottom: 1px; */
    padding:30px;
    margin-left: 10%;
}

.pangram {

    /* background-color: #EA1177; */
}

.thefive {

    font-family: "elza", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 40px;
    font-style: italic;
    margin-top: 2em;
    margin-left: 10px;
    width: 50%;

}

.boxing {
    
    font-family: "elza", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 40px;

    margin-top: 2em;
    margin-left: 3em;
    width: 50%;
    
     
}

.jump {

    font-family: "elza", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 40px;
    font-style: italic;
    margin-top: 2em;
    margin-left: 10px;
    width: 50%;

}

.display {

    margin-top: 10em;
}

.subnormality {

    font-family: "elza", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 70px;
    margin-left: 20%;

}

.blastodermic {

    font-family: "elza", sans-serif;
    font-weight: 400;
    color:#9b1ab7;
    font-size: 65px;
    margin-left: 30%;

}

.hematoxylins {

    font-family: "elza", sans-serif;
    font-weight: 200;
    color: rgb(40, 25, 0);
    font-size: 60px;
    margin-left: 40%;

}

.francophiles {

    font-family: "elza", sans-serif;
    font-weight: 600;
    color:#ff7db8;
    font-size: 55px;
    margin-left: 50%;

}

.overmatching {

    font-family: "elza", sans-serif;
    font-weight: 200;
    color:#B6D436;
    font-size: 50px;
    margin-left: 60%;

}

.loremnarrow {

    color: #ffffff;

    font-family: "elza", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 35px;
    width: 10em;
    margin-top: 20%;
    text-align: right;
    margin-left: 50%;
}

.loremwide {

    color:#B6D436;

    font-family: "elza", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    width: 40em;
    font-style: italic;

    margin-right: 10%;

}

.loremfull {

    color:#ff7db8;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    width: 25em;
    font-style: italic;
    text-align: left;
    margin-right: 10%;


}

.letter-list {

    list-style-type: none;
}

.letter-list > li {

    display: inline-block;
}

.experiments {

    /* color:#B6D436;
    background-color: #EA1177;
    padding: 80px;
    padding-bottom: 0%;
    margin: 0;


    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    text-align: center;

    opacity: 60%;
    text-decoration: line-through;
    text-shadow: #ff7db8;
    text-overflow: ellipsis; */
}

.slider-wrapper {

    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
margin-bottom: 40%;

}

.slider {

    height: 150px;
    padding-left: 15pz;
    overflow: hidden;

    
}


.slider-text1
{

    background: #EA1177;
    animation: slide 5s linear infinite;
    font-family: "elza", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 150px;
    text-align: center;
    align-items: center;
}

.slider-text2{

    background: #EA1177;
    font-family: "elza", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 150px;
    text-align: center;
    align-items: center;
}

.slider-text3 {

    background: #EA1177;
    font-family: "elza", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 150px;
    text-align: center;
    align-items: center;

}

.slider-text4{

    background: #EA1177;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    text-align: center;
    align-items: center;
}

.slider-text5{

    background: #EA1177;
    font-family: "elza", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 150px;
    text-align: center;
    align-items: center;
}

.slider-text6{
    background: #EA1177;
    font-family: "elza", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 150px;
    text-align: center;
    align-items: center;
}

@keyframes slide
{
    0% {margin-top: -250px}
    5% {margin-top: -200px}
    33% {margin-top: -200px}
    38% {margin-top: -100px}
    66% {margin-top: -100px}
    71% {margin-top: 0px}
    100% {margin-top: 0px}
}

h2{

    font-family: "elza", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 150px;

    margin-top: 20%;
    margin: 40px;
    text-shadow: 2px 2px 4px #000000;
    animation: color 8s infinite;


}

@keyframes color {

    0% {color:#B6D436}
    10% {color:#bf36d4}
    20% {color:#e60e56}
    30% {color:#d1ff18}
    40% {color:#ec88bf}
    50% {color:#463303}
    60% {color:#B6D436}
    70% {color:#ff5bb2}
    80% {color:#B6D436}
    90% {color:#1ca8ff}
    100% {color:#ff2eb9}

}